
.layout {
  min-height: 100vh;
  background: url('../assets/img/banner-contacto.jpg') no-repeat center center/cover;
  color: #ff69b4;
  padding-top: 70px;
  background-color: #FFF6A3;
}

.container {
  max-width: 1300px;
  margin: auto;
}

input textarea {
  border-radius: 25px;
  background-color: #F6F0F0;
  border: 2px solid #ffffff;
  color: #000000;
}

input::placeholder,
textarea::placeholder {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.btn {
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 12px 40px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;

}
.btn:hover,
.btn:active {
  background-color: #DBDBDB;
}

@media (max-width: 991px) {
  .layout {
    padding: 2rem;
    margin-top: 90px;
  }
  form {
    width: 100%;
    padding: 50px 20px;
  }
}
