.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('../assets/img/banner-contacto.jpg') no-repeat center center/cover;
  background-color: #FFD6A5;
  color: #ff69b4;
  padding-top: 70px;
}

main {
  flex: 1;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.contacto-main {
  flex: 1;
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  border-radius: 25px;
  background-color: #F6F0F0;
  border: 2px solid #ffffff;
  color: #000000;
}

input::placeholder,
textarea::placeholder {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.btn {
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 12px 40px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn:hover,
.btn:active {
  background-color: #DBDBDB;
}

#footer-placeholder {
  min-height: 160px;
}

footer .container {
  padding-inline: 8rem;
}

@media (max-width: 991px) {
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 90px;
  }

  main {
    flex: 1;
    padding: 1rem;
  }

  form {
    width: 100%;
    padding: 20px;
  }

  footer .container {
    padding-inline: 8rem;
  }

}
